<div>
  <h2>Informations de connexion</h2>
  <form [formGroup]='formAuth'>
    <div>
      <mat-form-field>
        <input matInput formControlName="client_id" placeholder="client ID de l'application" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="redirect_uri" placeholder="Redirect URI" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName='response_type' placeholder="Response type" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName='approval_prompt' placeholder="Approval Prompt">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName='scope' placeholder="Scope">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName='client_secret' placeholder="Client Secret" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName='refresh_token' placeholder="Refresh Token">
      </mat-form-field>
    </div>
    <p>
        <button mat-raised-button color='primary' [disabled]='formAuth.invalid' (click)='validForm()'>Valider</button> 
    </p>
  </form> 
</div>