<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div>
    <button color='accent' mat-raised-button (click)="test()">lancer le test</button>
  </div> 
  <p>
    <a routerLink="/authentification" routerLinkActive="active">Authentification</a>
  </p> 
  <!-- <p> -->
    <div id="map" style="height: 800px; width: 800px;"></div>
  <!-- </p> --> 
  <!-- <p> -->
    <router-outlet></router-outlet>
  <!-- </p> -->
</div>